<!DOCTYPE html>
<html>
  <head>
    <title>SpreeStarter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", nonce: true %>
    <%= javascript_importmap_tags nonce: true %>

    <%# 如果你有手写的 <style> 标签，也这样写： %>
    <%# <style nonce="<%= content_security_policy_nonce %>"> ... </style> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
